{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "CoreOS on EC2: http://coreos.com/docs/running-coreos/cloud-providers/ec2/",
  "Mappings" : {
      "RegionMap" : {

          "eu-central-1" : {
              "AMI" : "ami-3e615823"
          },

          "ap-northeast-1" : {
              "AMI" : "ami-76f82876"
          },

          "us-gov-west-1" : {
              "AMI" : "ami-414b2b62"
          },

          "sa-east-1" : {
              "AMI" : "ami-4f40c152"
          },

          "ap-southeast-2" : {
              "AMI" : "ami-71fc854b"
          },

          "ap-southeast-1" : {
              "AMI" : "ami-c6fcc494"
          },

          "us-east-1" : {
              "AMI" : "ami-b55bbdde"
          },

          "us-west-2" : {
              "AMI" : "ami-cf4a75ff"
          },

          "us-west-1" : {
              "AMI" : "ami-b5759df1"
          },

          "eu-west-1" : {
              "AMI" : "ami-55d5a522"
          }

      }
  },
  "Parameters": {
    "InstanceType" : {
      "Description" : "EC2 HVM instance type (t2.micro, etc).",
      "Type" : "String",
      "Default" : "t2.micro",
      "ConstraintDescription" : "Must be a valid EC2 HVM instance type."
    },
    "ClusterSize": {
      "Default": "1",
      "MinValue": "1",
      "MaxValue": "12",
      "Description": "Number of nodes in cluster (1-12).",
      "Type": "Number"
    },
    "AllowSSHFrom": {
      "Description": "The net block (CIDR) that SSH is available to.",
      "Default": "0.0.0.0/0",
      "Type": "String"
    },
    "AllowHostInfoFrom": {
      "Description": "The net block (CIDR) that SSH is available to.",
      "Default": "0.0.0.0/0",
      "Type": "String"
    },
    "KeyPair" : {
      "Description" : "The name of an EC2 Key Pair to allow SSH access to the instance.",
      "Type" : "String"
    }
  },
  "Resources": {
    "CoreOSElasticLoadBalancer" : {
      "Type" : "AWS::ElasticLoadBalancing::LoadBalancer",
      "Properties" : {
        "AvailabilityZones" : { "Fn::GetAZs" : "" },
        "Listeners": [{
          "LoadBalancerPort": "80",
          "InstancePort": "5483",
          "Protocol": "HTTP"
        }],
        "HealthCheck": {
          "Target": "HTTP:5483/",
          "HealthyThreshold": "3",
          "UnhealthyThreshold": "5",
          "Interval": "30",
          "Timeout": "5"
        },
        "ConnectionDrainingPolicy": {
          "Enabled" : "true",
          "Timeout" : "60"
        }
      }
    },
    "CoreOSSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": "CoreOS SecurityGroup",
        "SecurityGroupIngress": [
          {"IpProtocol": "tcp", "FromPort": "22", "ToPort": "22", "CidrIp": {"Ref": "AllowSSHFrom"}},
          {"IpProtocol": "tcp", "FromPort": "5483", "ToPort": "5483", "CidrIp": {"Ref": "AllowHostInfoFrom"}}
        ]
      }
    },
    "CoreOSServerAutoScale": {
      "Type": "AWS::AutoScaling::AutoScalingGroup",
      "Properties": {
        "AvailabilityZones": {"Fn::GetAZs": ""},
        "LaunchConfigurationName": {"Ref": "CoreOSServerLaunchConfig"},
        "MinSize": "1",
        "MaxSize": "12",
        "DesiredCapacity": {"Ref": "ClusterSize"},
        "LoadBalancerNames" : [ { "Ref" : "CoreOSElasticLoadBalancer" } ],
        "Tags": [
            {"Key": "Name", "Value": { "Ref" : "AWS::StackName" }, "PropagateAtLaunch": true}
        ]
      }
    },
    "CoreOSServerLaunchConfig": {
      "Type": "AWS::AutoScaling::LaunchConfiguration",
      "Properties": {
        "ImageId" : { "Fn::FindInMap" : [ "RegionMap", { "Ref" : "AWS::Region" }, "AMI" ]},
        "InstanceType": {"Ref": "InstanceType"},
        "KeyName": {"Ref": "KeyPair"},
        "SecurityGroups": [{"Ref": "CoreOSSecurityGroup"}],
        "UserData" : { "Fn::Base64":
          { "Fn::Join": [ "", [
"#cloud-config\n",
"\n",
"coreos:\n",
"  update:\n",
"    reboot-strategy: off\n",
"  units:\n",
"    - name: host-info.service\n",
"      command: start\n",
"      content: |\n",
"        [Unit]\n",
"        Description=Host Info Webpage\n",
"\n",
"        [Service]\n",
"        ExecStart=/usr/bin/rkt --insecure-skip-verify run https://github.com/philips/hacks/releases/download/v0/host-info.aci\n"
            ] ]
          }
        }
      }
    }
  }
}
